.cat-card{
    float: left;
    width: 200px;
    height: 300px;
}

.img {
    padding: 17%;
    width: 80%;
    height: 45%;
}

.name{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}